<div class="container">
 <div class="row">

  <div class="col-lg-4">

<% if flash[:notice] %>
    <div class="flash">
      <%= flash[:notice] %>
    </div>
    <% end %>

<h1>User info</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= image_tag('no_image.jpg', class: "img-square pull-left profile-thumb", style: "width: 100px; height: 100px;") %>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>name</td>
        <td><%= @user_id.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= @user_id.introduction %></td>
      <tr>
  </tbody>
</table>

 <% if @user == current_user.id %>
  <%= link_to edit_user_path(@user.id), class: "btn btn-default btn-block" do %>
   <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
  <% end%>
  <% end %>
</div>


  <h1>New book</h1>

  <% if @book.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

  <%= form_for(@book) do |f| %>

  <h3>Title</h3>
  <%= f.text_field :title %>

  <h3>Opinion</h3>
  <%= f.text_area :body %><br>
  <%= f.submit 'Create Book' %>

  <% end %>
  </div>


  <div class="col-lg-8">
  <h1>Books</h1>

  <table class="table table-striped">
	<thead>
		<tr>
		  <th></th>
		  <th>Title</th>
		  <th>Opinion</th>
		</tr>
	</thead>
	<tbody>
		 <% @books.each do |book| %>
		  <tr>
		  	<td></td>
		  	<td><%= link_to book_path(book) do %>
              <%= book.title %>
            <% end%>
        </td>
		  	<td><%= book.body %></td>
		  </tr>
		 <% end %>
	</tbody>
  </table>
  </div>


 </div>
</div>
