<div class="container">
 <div class="row">

  <div class="col-lg-4">
  <h1>New book</h1>

  <!-- <%= form_for(@book) do |f| %>

  <h3>Title</h3>
  <%= f.text_field :title %>

  <h3>Opinion</h3>
  <%= f.text_area :body %><br>
  <%= f.submit 'Create Book' %>

  <% end %> -->
  </div>


  <div class="col-lg-8">
  <h1>Book detail</h1>

  <table class="table table-striped">
	<thead>
		<tr>
		  <th></th>
		  <th></th>
		  <th></th>
		  <th></th>
		</tr>
	</thead>
	<tbody>
		  <tr>
		  	<td></td>
		  	<td><%= @book.title %></td>
		  	<td><%= @book.body %></td>
		  	<td>
		  	  <%= link_to 'Edit', edit_book_path(@book) %>
		  	  <%= link_to 'destroy', destroy_book_path(@book) %>
		  	</td>
		  </tr>
	</tbody>
  </table>
  </div>


 </div>
</div>